@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?k9kyps');
	src:url('fonts/icomoon.eot?#iefixk9kyps') format('embedded-opentype'),
		url('fonts/icomoon.woff?k9kyps') format('woff'),
		url('fonts/icomoon.ttf?k9kyps') format('truetype'),
		url('fonts/icomoon.svg?k9kyps#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

a{
	color: #DD4f24;
}

body
{
	background: #EFEFEF;
	color: #4C4C4C;
	/*font-family: Arial;*/
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	margin: 0;
}

header
{
	background: #434343;
	color: white;
	margin: 0px;
	padding: .5em;
}	
header h1{
	font-size: 20px;
	font-weight: normal;
	margin: 1em 0 0 1em; /* Rem Aplica la ruta raiz del font-size:16; es decir el principal*/
	width: 60%;
}
/*Hace que la cabecera se vuelva Horizontal*/
header figure,header h1{
	display: inline-block;
	vertical-align: top;
}
header #avatar{
	/*border:2px solid peru;*/
	float: right;
	margin: 1em 1em 0 0;
}
header #avatar figcaption{
	background: #22BCE0;
	float: right;
	height: 50px;
	/*padding: 0 2px;*/
	line-height: 50px;
}
header #avatar figcaption:after{
	content: "\e601";
	font-family: "icomoon";
	font-size: 0.7em;
	/*opacity: 0.8;*/
}

header #avatar img
{
	float: left;
	width: 50px;
}

header #logo img
{
	width: 80px;
}

nav{
	background: #878787;
	font-size: 0.9em;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li
{
	display: inline-block;
	margin: 0 1.2em 0 0;
	vertical-align: top;
}

nav ul li a{
	color: white;	
	display: block;
	padding: 0.5em 0;
	/*text-decoration: none;*/

}
nav #flechita_nav a{
	background: #22BCE0;
	padding: 0.5em 0em;
	text-decoration: none;
}

nav #flechita_nav a:after{
	content: "\e600";
	font-family: "icomoon";
}

nav #publicar_nav{
	background: #DD4f24;
	float: right;
	margin-right: 0;
	padding-right: 0.8em;
	position: relative;
}

nav #publicar_nav:after{
	color: rgba(255,255,255,0.5);
	content: "\e606";
	font-family: "icomoon";
	font-size: 1.8em;
	position: absolute;
	right: 0;
	top: 3px;
}

nav #publicar_nav a
{
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
}
#contenido{
	/*border: 3px solid blue;*/
	margin: 1em;
}

#contenido .item
{
	background: white;
	border-bottom: 3px #22BCE0 solid;
	margin-bottom: 3em;
	min-height: 128px; /*Hace que la rayita azul no se colapse*/
	position: relative;
}

#contenido .item p{
	color: #7A7A7A;
	font-size: 0.9em;
}
#contenido .item .datos_item{
	text-align: right;

}
#contenido .item .datos_item .comentarios_item{
	 background: #878787;
	 border-radius: 4px;
	 color: white;
	 padding: 4px;
	 text-decoration: none;
}
#contenido .item .datos_item .guardar_item{
	text-decoration: none;
	margin: 0 1em 0 1em;
}

#contenido .item .datos_item .guardar_item:after{
	color:#FD5;
	content: "\e607";
	font-family: "icomoon";
}

#contenido .item .datos_item .tag_item{
	background: #22BCE0;
	border-radius: 0.5em;
	color: white;
	float: left;
	padding: 0.2em 0.5em;
	text-decoration: none;
}

#contenido .item .imagen_item{
	float: left;
	margin: 0 1em 0 0;
}

#contenido .item .imagen_item img
{
	width: 96px;
}

#contenido .item .titulo_item{
	font-size: 1em;	
	font-style: italic;
	padding: 0.5em 0.5em 0;
}

#contenido .item .titulo_item a{
	color: #444;
	text-decoration: none;
}

#contenido .item .votacion{
	background: white;
	border-radius: 0 0 0.5em 0.5em;
	/*border: 2px solid red;*/
	margin: 3px 0 0 0;
	padding: 0.5em 0;
	position: absolute;
	text-align: center;
	top: 100%; 
	width: 96px;
}

#contenido .item .votacion a{
	text-decoration: none;
}
#contenido .item .votacion .up:after,
#contenido .item .votacion .down:after{
	font-family: "icomoon";
	font-size: 1.5em;
	vertical-align: bottom;
}

#contenido .item .votacion .up:after{
	color: red;
	content: "\e602";
}

#contenido .item .votacion .down:after{
	color: green;
	content: "\e601";
}
